<!DOCTYPE html>
<style>
form {
    margin: auto;
    width: 35%;
}
.result {
    margin: auto;
    width: 35%;
    border: 1px solid rgb(212, 91, 91);
}
</style>
<head> 
    <title>Прогнозирование электронно-лучевой сварки'</title>
</head>

<form action="{{url_for('main')}}" method="POST">
    <fieldset>
        <legend>Введите значение</legend>
        IW
        <input name = "IW" type="number" step="0.01"
        required>
        <legend>Введите значение</legend>
        IF
        <input name = "IF" type="number" step="0.01"
        required>
        <legend>Введите значение</legend>
        VW
        <input name = "VW" type="number" step="0.01"
        required>
        <br>
        <br>
        <input type="submit">
    </fieldset>
</form>

<div class="result" align="center">
    {% if result %}
        <br>
        <p style="font-size:50px">
        Прогноз глубины и ширины сварочного шва
        </p>
        <p style="font-size:50px"> {{result}}</p>
    {% endif %}
</div>
